{% extends 'jun/base.html' %}

{% block content %}
    <!--
        ohter html here
    -->
    <h2>{{question.question_text}}</h2>

    {%if error_message %} <p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'jun:vote' question.id %}" method="POST">
      {% csrf_token %}
      <!-- 해당 question의 선택지들을 하나씩 보여준다 .all()이 아닌것 주의 -->
      {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{choice.id}}">
        <label for="choice{{ forloop.counter }}">{{choice.choice_text}}</label><br>
      {% endfor %}
      <input type="submit" value="투표">
    </form>
{% endblock content %}




<!--<h2>최고의 고기는?</h2>-->

<!--<form action="/jun/1/vote/" method="POST">-->
<!--  <input type='hidden' name='csrfmiddlewaretoken' value='XGkLxShVgsOnJBte8eObFGWctzk9hcgq0qKVj0LMHDQVWAYOnxbYcAzkezRCjXZw' />-->
<!--  {% csrf_token %}-->
<!--  &lt;!&ndash; 해당 question의 선택지들을 하나씩 보여준다 &ndash;&gt;-->

<!--    <input type="radio" name="choice" id="choice1" value="1">-->
<!--    <label for="choice1">돼지</label><br>-->

<!--    <input type="radio" name="choice" id="choice2" value="2">-->
<!--    <label for="choice2">치킨</label><br>-->

<!--    <input type="radio" name="choice" id="choice3" value="3">-->
<!--    <label for="choice3">소</label><br>-->

<!--    <input type="radio" name="choice" id="choice4" value="6">-->
<!--    <label for="choice4">닭</label><br>-->

<!--    <input type="radio" name="choice" id="choice5" value="7">-->
<!--    <label for="choice5">소</label><br>-->

<!--  <input type="submit" value="투표">-->
<!--</form>-->
